.adresses {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
  }

  &__title {
    margin: 0;
    font-size: $font-size--3;
  }

  &__link-wrap {
    padding: 0 24px 24px 24px;
  }

  &__link {
    display: flex;
    justify-content: flex-end;
  }

  &__link-text {
    @include font-lakes-medium;

    position: relative;
    margin-right: 20px;
    font-size: $font-size--3;
    line-height: $line-height--3;
    letter-spacing: $letter-spacing--2;

    &::after {
      position: absolute;
      top: 0;
      left: 100%;
      width: 24px;
      height: 24px;
      content: "";
      background: url("../img/red-arrow-right.svg") no-repeat 50% 50%;
    }
  }

  &__map {
    height: 378px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      height: 525px;
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1440px) {
      margin: 0 32px 32px 32px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 6px;
    column-count: 1;

    @media screen and (min-width: 768px) {
      margin-bottom: 21px;
      column-count: 2;
      column-gap: 24px;
    }

    @media screen and (min-width: 1440px) {
      column-gap: 32px;
    }
  }

  &__text-item {
    margin: 0;
    margin-bottom: 24px;
  }
}
