@import "./blocks/_btn-more.scss";
@import "./blocks/_slider.scss";

.brands {
  margin-bottom: 24px;

  &__title {
    margin: 0;
    font-size: $font-size--3;
  }

  &__slider {
    height: 100px;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    padding-left: 16px;
    font-size: 18px;
    background: $color-bg-nav;
    border: 1px solid $color-bg-border;
    border-radius: 6px;

    @media screen and (min-width: 768px) {
      width: 224px;
    }

    @media screen and (min-width: 1440px) {
      width: 240px;
    }
  }

  &__item-link {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 40px;
    height: 40px;
    background-image: url("../img/arrow-right.svg");
  }

  &__btn {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      margin: 24px 0 32px 0;
    }

    @media screen and (min-width: 1440px) {
      margin: 24px 0 50px 0;
    }
  }
}
