@import "./blocks/_btn-more.scss";
@import "./blocks/_slider.scss";

.brands {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 50px;
  }

  &__title {
    margin: 0;
    font-size: $font-size--3;
  }

  &__container {
    height: 100px;

    @media screen and (min-width: 768px) {
      height: 176px;
    }
  }

  &__list {
    display: flex;

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    padding-left: 16px;
    font-size: 18px;
    background: $color-bg-nav;
    border: 1px solid $color-bg-border;
    border-radius: 6px;

    @media screen and (min-width: 768px) {
      width: 224px;
      margin-right: 24px;
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1440px) {
      width: 240px;
      margin-right: 32px;
    }
  }

  &__item-link {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 40px;
    height: 40px;
    background-image: url("../img/arrow-right.svg");
  }

  &__btn {
    display: none;
    outline: none;

    @media screen and (min-width: 768px) {
      display: block;
      margin: 8px 0 0 24px;
    }

    @media screen and (min-width: 1440px) {
      margin-left: 32px;
    }
  }
}
