.btn-circle {
  @include button-reset;

  width: 40px;
  height: 40px;
  background-color: $color-bg-brand;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;

  &--menu {
    background-image: url("../img/menu.svg");
  }

  &--close {
    background-image: url("../img/close.svg");
  }

  &--repair {
    background-image: url("../img/repair.svg");
  }

  &--status {
    background-image: url("../img/status.svg");
  }

  &--search {
    background-image: url("../img/search.svg");
  }

  &--call {
    background-image: url("../img/call.svg");
  }

  &--message {
    background-image: url("../img/message.svg");
  }

  &--profile {
    background-image: url("../img/profile.svg");
  }
}
