.footer {
  @include font-lakes-medium;

  padding-top: 16px;
  margin-bottom: 23px;
  line-height: $line-height--4;
  color: $color-typo-secondary;
  text-align: center;
  border-top: 1px solid $color-bg-border-header;
  mix-blend-mode: normal;
  opacity: 0.72;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-right: 24px;
    padding-left: 24px;
  }

  &__item {
    margin-top: 0;
  }

  &__item-copyright {
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__item-privacy {
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }

  &__item-offer {
    @media screen and (min-width: 768px) {
      width: 213px;
      text-align: right;
    }
  }
}
