.info-company {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  &__text-wrap {
    margin: 0 16px 16px 16px;

    @media screen and (min-width: 768px) {
      display: inline;
      margin: 0 24px 48px 16px;
    }

    @media screen and (min-width: 1440px) {
      margin-left: 32px;
    }
  }

  &__text {
    margin-top: 0;
  }

  &__text-continuation {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline;
    }
  }

  &__dots {
    display: inline-block;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 863px) {
      display: none;
    }
  }

  &__text-more {
    display: none;
    margin-bottom: 16px;

    @media screen and (min-width: 863px) {
      display: inline;
    }
  }

  &__btn {
    display: block;
    outline: none;

    @media screen and (min-width: 863px) {
      margin-top: 16px;
    }
  }

  &__img-wrap {
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
      min-width: 360px;
      margin: 0 24px;
    }

    @media screen and (min-width: 1440px) {
      min-width: 532px;
      margin: 0 32px 0 38px;
    }
  }
}
