@import "./blocks/_btn-circle.scss";
@import "./blocks/_btn-oval.scss";

.modal {
  @include font-lakes-medium;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  display: none;
  min-width: 320px;
  height: 676px;
  background-color: $color-bg-nav;

  @media screen and (min-width: 768px) {
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02);
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
  }

  @media screen and (min-width: 1440px) {
    right: 0;
    left: auto;
    width: 440px;
    height: 940px;
    border-left: 1px solid $color-bg-border-header;
  }

  &__inner {
    position: relative;
  }

  &__btn-close {
    position: absolute;
    top: 18px;
    left: 16px;

    @media screen and (min-width: 1440px) {
      top: 32px;
      left: -72px;
    }
  }

  &__title {
    @include font-lakes-bold;

    position: absolute;
    top: 99px;
    left: 16px;
    width: 288px;
    height: 32px;
    margin: 0;
    font-size: $font-size--2;
    line-height: $line-height--2;
    color: $color-typo-primary;
    letter-spacing: $letter-spacing--1;

    @media screen and (min-width: 768px) {
      left: 26px;
    }

    @media screen and (min-width: 1440px) {
      top: 40px;
      left: 32px;
    }

    &::before {
      position: absolute;
      top: -8px;
      left: -16px;
      width: 3px;
      height: 40px;
      content: "";
      background-color: $color-bg-border-title;
      transform: matrix(-1, 0, 0, 1, 0, 0);

      @media screen and (min-width: 768px) {
        left: -25px;
      }

      @media screen and (min-width: 1440px) {
        left: -32px;
      }
    }
  }

  &__form {
    position: absolute;
    top: 155px;
    left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 16px;

    @media screen and (min-width: 1440px) {
      left: 32px;
      padding-right: 32px;
    }
  }

  &__input {
    @include font-lakes-medium;

    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    font-size: $font-size--3;
    line-height: $line-height--3;
    color: $color-bg-checked;
    letter-spacing: $letter-spacing--2;
    border: 1px solid $color-bg-border;
    border-radius: 8px;

    &::placeholder {
      color: $color-bg-checked;
    }

    &[name="message"] {
      height: 119px;
      resize: none;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 19px;
    line-height: $line-height--4;
    color: $color-typo-secondary;

    @media screen and (min-width: 768px) {
      padding-right: 5px;
    }

    @media screen and (min-width: 1440px) {
      padding-right: 0;
    }
  }

  &__link {
    color: $color-bg-brand;
  }
}
