@import "./blocks/_container-title.scss";
@import "./blocks/_btn-oval.scss";

.price {
  position: relative;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
  }

  &__title {
    margin: 0;
    font-size: $font-size--3;
  }

  &__slider {
    margin-left: 16px;

    @media screen and (min-width: 768px) {
      margin-right: 24px;
      margin-left: 24px;
    }
  }

  &__list {
    height: 228px;
    margin-left: 16px;

    @media screen and (min-width: 768px) {
      display: table;
      margin: 0;
    }
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 260px;
    height: 200px;
    padding: 16px;
    margin: 0;
    text-align: left;
    background: $color-bg-nav;
    border-radius: 6px;

    @media screen and (min-width: 768px) {
      display: table-row;
      width: 100%;
      height: 64px;
      border-bottom: 1px solid black;
    }
  }

  &__item-title {
    @include font-lakes-medium;

    margin: 0;
    margin-bottom: 2px;
    line-height: $line-height--4;
    color: $color-typo-secondary;
    mix-blend-mode: normal;
    opacity: 0.72;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__item-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      display: table-cell;
      margin: 0;
    }
  }

  &__item-btn.btn-oval {
    width: 119px;
  }

  &__pagination {
    position: absolute;
    top: 215px;
    height: 12px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__info-text {
    margin: 0;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      width: 421px;
    }
  }

  &__link {
    @include font-lakes-medium;

    position: relative;
    font-size: $font-size--3;
    line-height: $line-height--3;
    letter-spacing: $letter-spacing--2;
  }

  &__link-text {
    &::after {
      position: absolute;
      top: auto;
      left: 100%;
      width: 24px;
      height: 24px;
      content: "";
      background: url("../img/red-arrow-right.svg") no-repeat 50% 50%;
    }
  }
}
