@import "./blocks/_container-title.scss";
@import "./blocks/_btn-circle.scss";
@import "./blocks/_site-logo.scss";
@import "./blocks/_site-menu.scss";

.sidenav {
  @include font-lakes-medium;

  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  margin-bottom: 8px;
  font-size: $font-size--3;
  line-height: $line-height--3;
  letter-spacing: $letter-spacing--2;
  background-color: $color-bg-nav;
  border-bottom: 1px solid $color-bg-border-header;

  @media screen and (min-width: 1440px) {
    position: fixed;
    left: 0;
    width: 320px;
    height: 100%;
    overflow: hidden;
  }

  &__btn-menu {
    position: absolute;
    left: 16px;

    @media screen and (min-width: 360px) {
      left: 24px;
    }

    @media screen and (min-width: 1440px) {
      display: none;
    }
  }

  &__btn-close {
    position: absolute;
    left: 16px;
    z-index: 3;
    display: none;

    @media screen and (min-width: 360px) {
      left: 24px;
    }
  }

  &::after {
    @media screen and (min-width: 768px) {
      position: absolute;
      left: 84px;
      width: 2px;
      height: 32px;
      content: "";
      background-color: $color-bg-border;
      border-radius: 1px;
    }

    @media screen and (min-width: 1440px) {
      display: none;
    }
  }

  &::before {
    position: absolute;
    right: 132px;
    width: 2px;
    height: 32px;
    content: "";
    background-color: $color-bg-border;
    border-radius: 1px;

    @media screen and (min-width: 1440px) {
      display: none;
    }
  }

  &__btn-call {
    position: absolute;
    top: 488px;
    left: 16px;
    z-index: 3;
    display: none;

    @media screen and (min-width: 360px) {
      left: 24px;
    }

    @media screen and (min-width: 768px) {
      top: 804px;
    }

    @media screen and (min-width: 1440px) {
      top: 704px;
      left: 32px;
      display: inline;
    }
  }

  &__btn-message {
    position: absolute;
    top: 488px;
    left: 72px;
    z-index: 3;
    display: none;

    @media screen and (min-width: 360px) {
      left: 80px;
    }

    @media screen and (min-width: 768px) {
      top: 804px;
    }

    @media screen and (min-width: 1440px) {
      top: 704px;
      left: 88px;
      display: inline;
    }
  }

  &__btn-profile {
    position: absolute;
    top: 488px;
    left: 128px;
    z-index: 3;
    display: none;

    @media screen and (min-width: 360px) {
      left: 136px;
    }

    @media screen and (min-width: 768px) {
      top: 804px;
    }

    @media screen and (min-width: 1440px) {
      top: 704px;
      left: 144px;
      display: inline;
    }
  }

  &__btn-repair {
    position: absolute;
    top: 24px;
    right: 72px;

    @media screen and (min-width: 1440px) {
      right: 232px;
    }
  }

  &__text-repair {
    position: absolute;
    top: 32px;
    right: 280px;
    display: none;

    @media screen and (min-width: 1440px) {
      display: inline;
    }
  }

  &__btn-status {
    position: absolute;
    top: 24px;
    right: 16px;

    @media screen and (min-width: 1440px) {
      right: 32px;
    }
  }

  &__text-status {
    position: absolute;
    top: 32px;
    right: 81px;
    display: none;

    @media screen and (min-width: 1440px) {
      display: inline;
    }
  }

  &__btn-search {
    position: absolute;
    z-index: 3;
    display: none;

    @media screen and (min-width: 320px) {
      left: 264px;
    }

    @media screen and (min-width: 360px) {
      left: 296px;
    }

    @media screen and (min-width: 768px) {
      left: 256px;
    }

    @media screen and (min-width: 1440px) {
      position: absolute;
      top: 24px;
      left: 131px;
      display: flex;
    }
  }

  &__input-search {
    display: none;
  }
}
