@import "./blocks/_btn-circle.scss";

.site-search {
  background-color: #000000;

  &__form {
    position: relative;
    background: rgb(221, 34, 34);
  }

  &__btn-close {
    position: absolute;
    top: -32px;
    right: 48px;
    z-index: 4;
    display: none;
    width: 10px;
    height: 10px;

    @media screen and (min-width: 360px) {
      right: 50px;
    }

    @media screen and (min-width: 1440px) {
      right: 65px;
    }
  }

  &__img-search {
    position: absolute;
    top: -47px;
    right: 0;
    z-index: 3;
    display: none;
    width: 40px;
    height: 40px;

    @media screen and (min-width: 1440px) {
      right: 15px;
    }
  }

  &__input-search {
    @include font-lakes-medium;

    position: absolute;
    top: -47px;
    right: 7px;
    box-sizing: border-box;
    width: 11%;
    height: 40px;
    padding: 8px 0 8px 16px;
    font-size: $font-size--3;
    line-height: $line-height--3;
    letter-spacing: $letter-spacing--2;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    transition-duration: 2s, 2s;
    transition-property: width, padding;

    @media screen and (min-width: 360px) {
      right: 4px;
    }

    @media screen and (min-width: 1440px) {
      right: 20px;
      display: none;
    }
  }
}
