.site-email {
  position: absolute;
  top: 544px;
  left: 16px;

  @media screen and (min-width: 360px) {
    left: 24px;
  }

  @media screen and (min-width: 768px) {
    top: 860px;
  }

  @media screen and (min-width: 1440px) {
    top: 760px;
    left: 32px;
  }
}
