@import "./blocks/_site-search.scss";
@import "./blocks/_site-email.scss";
@import "./blocks/_site-phone.scss";
@import "./blocks/_site-language.scss";

.site-menu {
  @include font-lakes-medium;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  min-width: 320px;
  height: 676px;
  font-size: $font-size--3;
  line-height: $line-height--3;
  letter-spacing: $letter-spacing--2;
  background-color: $color-bg-nav;

  @media screen and (min-width: 360px) {
    min-width: 360px;
  }

  @media screen and (min-width: 768px) {
    min-width: 320px;
    height: 1024px;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02);
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
  }

  @media screen and (min-width: 1440px) {
    left: 12px;
    display: block;
    min-width: 307px;
    border-left: 1px solid $color-bg-border-header;
    box-shadow: none;
  }

  &--show {
    display: none;

    @media screen and (min-width: 1440px) {
      display: block;
    }
  }

  &__list {
    position: absolute;
    top: 92px;
    left: 16px;

    @media screen and (min-width: 360px) {
      left: 24px;
    }

    @media screen and (min-width: 768px) {
      top: 116px;
    }

    @media screen and (min-width: 1440px) {
      top: 120px;
    }
  }

  &__item {
    margin-bottom: 24px;
  }

  &__item-link {
    position: relative;

    &:hover {
      color: $color-typo-secondary;

      &::before {
        position: absolute;
        top: -4px;
        left: -16px;
        width: 4px;
        height: 32px;
        content: "";
        background-color: $color-bg-border-title;
        transform: matrix(-1, 0, 0, 1, 0, 0);

        @media screen and (min-width: 360px) {
          left: -24px;
        }
      }
    }

    &--active {
      color: $color-typo-secondary;

      &::before {
        position: absolute;
        top: -4px;
        left: -16px;
        width: 4px;
        height: 32px;
        content: "";
        background-color: $color-bg-border-title;
        transform: matrix(-1, 0, 0, 1, 0, 0);

        @media screen and (min-width: 360px) {
          left: -24px;
        }
      }
    }
  }
}
