.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  padding-left: 16px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 32px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;

  &:last-child {
    margin-right: 16px !important;
  }
}

.swiper-pagination {
  position: relative;
  height: 12px;
  margin-top: 16px;
  margin-bottom: 2px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.swiper-pagination-bullets {
  bottom: 1px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px !important;
  background: #979797;
}

.swiper-pagination-bullet-active {
  background: #b5b6bc;
}
