.sub-menu {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 8px;
  margin-left: 16px;

  &__list {
    height: 40px;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 240px;
    font-size: $font-size--3;
    text-align: center;

    &--active {
      color: $color-typo-secondary;
      background-color: $color-bg-nav;
      border: 2px solid $color-bg-border-menu;
      border-radius: 6px;
    }

    &:hover {
      color: $color-typo-secondary;
      background-color: $color-bg-nav;
      border: 2px solid $color-bg-border-menu;
      border-radius: 6px;
    }
  }

  &__item-link {
    @include font-lakes-medium;

    color: $color-typo-secondary;
  }
}
