$color-bg-brand: #ff3e79;
$color-bg-main: #f8f8f8;
$color-bg-nav: #ffffff;
$color-bg-checked: #b5b6bc;
$color-bg-unchecked: #dddddd;
$color-bg-title: linear-gradient(270deg, #f8f8f8 0%, #ffffff 100%);

$color-bg-border: #eaeaea;
$color-bg-border-header: #d9fff5;
$color-bg-border-title: #41f6d7;
$color-bg-border-nav: #d9fff5;
$color-bg-border-menu: #b8ffec;

$color-typo-primary: #1b1c21;
$color-typo-secondary: #7e7e82;
$color-typo-btn: #ffffff;

$font-size: 14px;
$font-size--1: 28px;
$font-size--2: 24px;
$font-size--3: 16px;
$font-size--4: 12px;

$line-height: 18px;
$line-height--1: 40px;
$line-height--2: 32px;
$line-height--3: 24px;
$line-height--4: 16px;

$letter-spacing: 0.2px;
$letter-spacing--1: -0.6px;
$letter-spacing--2: -0.2px;
$letter-spacing--3: -0.15px;

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1440px;
