@import "_normalize";
@import "_swiper";
@import "_mixins";
@import "_variables";
@import "./blocks/_sidenav";
@import "./blocks/_site-title";
@import "./blocks/_main";
@import "./blocks/_footer";
@import "./blocks/_modal";

body {
  @include font-lakes-regular;

  padding: 0;
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-typo-primary;
  letter-spacing: $letter-spacing;
  background-color: $color-bg-main;
}

a {
  color: $color-typo-primary;
  text-decoration: none;
  transition: all 0.5s ease;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.content {
  @media screen and (min-width: 1440px) {
    margin-left: 320px;
  }
}

.container {
  padding: 16px;
}

.overlay {
  @media screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    background: $color-bg-nav;
    mix-blend-mode: normal;
    opacity: 0.96;
  }
}
