@import "./vendors/_normalize.css";
@import "./vendors/_swiper.css";
@import "_mixins.scss";
@import "_variables.scss";
@import "./blocks/_site-nav.scss";
@import "./blocks/_site-content.scss";
@import "./blocks/_site-footer.scss";
@import "./blocks/_modal.scss";

body {
  @include font-lakes-regular;

  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-typo-primary;
  letter-spacing: $letter-spacing;
  background-color: $color-bg-main;
}

a {
  color: $color-typo-primary;
  text-decoration: none;
  transition: all 0.5s ease;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.site-wrap {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "site-nav site-nav"
    "site-content site-content"
    "site-footer site-footer";
  grid-template-rows: 88px auto auto;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-width: 1440px) {
    display: grid;
    grid-template-areas:
      "site-nav site-content"
      "site-nav site-content"
      "site-nav site-footer";
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 320px 1fr;
  }
}

.container {
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    padding: 0 24px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 32px;
  }
}

.overlay {
  @media screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    background: $color-bg-nav;
    mix-blend-mode: normal;
    opacity: 0.96;
  }
}
