@import "_normalize.css";
@import "_mixins.scss";
@import "_variables.scss";

body {
  @include font-lakes-regular;

  max-width: 320px;
  padding: 0;
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-typo-primary;
  letter-spacing: $letter-spacing;
  background-color: $color-bg-main;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
